<div class="container m-5">
  <!-- Contenedor Principal-->
  <h1 class="animated fadeIn fast">Servicios</h1>
  <hr />
  <div class="row animated fadeIn">
    <div class="col-md-12">
      <article>
        <h3>
          <span><i class="fas fa-archive"></i></span>
          Gestión de equipos
        </h3>
        <p>
          Información relevante de cada uno de los equipos presentes en el
          inventario, con la posibilidad de agregar, modificar o eliminar datos
          referentes a estos.
        </p>
        <div class="row animated fadeIn">
          <div class="col">
            <button
              routerLink="/newadquisicion"
              class="btn btn-outline-secondary"
            >
              <i class="fas fa-ad"></i> Adquisición
            </button>
          </div>

          <div class="col">
            <button
              routerLink="/newclasificacion"
              class="btn btn-outline-success"
            >
              <i class="fas fa-tasks"></i> Clasificación
            </button>
          </div>

          <div class="col">
            <button routerLink="/newmantenimiento" class="btn btn-outline-info">
              <i class="fas fa-check-circle"></i> Mantenimiento
            </button>
          </div>

          <div class="col">
            <button routerLink="/newhistorico" class="btn btn-outline-primary">
              <i class="fas fa-address-book"></i> Histórico Solicitudes
            </button>
          </div>
        </div>
        <br />
        <div class="row animated fadeIn">
          <div class="col">
            <button
              routerLink="/newinfotecnica"
              class="btn btn-outline-warning"
            >
              <i class="fab fa-buffer"></i> Info Técnica
            </button>
          </div>

          <div class="col">
            <button routerLink="/newinfo" class="btn btn-outline-danger">
              <i class="fas fa-ad"></i> Info Institucional
            </button>
          </div>

          <div class="col">
            <button routerLink="/newreactivos" class="btn btn-outline-primary">
              <i class="fas fa-address-book"></i> Reactivos y Accesorios
            </button>
          </div>

          <div class="col">
            <button routerLink="/newequipos" class="btn btn-success">
              <i class="fas fa-plus-square"></i> Gestión de Equipos
            </button>
          </div>
        </div>
        <br />
      </article>
    </div>
    <div class="col-md-6">
      <article class="mb-5">
        <h3>
          <span><i class="fas fa-tasks"></i></span> Proveedores y Fabricantes
        </h3>
        <p>
          Gestión relacionada a terceros, documentación, ubicación, contacto
          etc.
        </p>
        <div class="row animated fadeIn">
          <div class="col">
            <button
              routerLink="/newdocumentosanexoshv"
              class="btn btn-outline-danger"
            >
              <i class="fas fa-window-restore"></i> Doc Anexos
            </button>
          </div>

          <div class="col">
            <button
              routerLink="/newdocumentosproveedor"
              class="btn btn-outline-success"
            >
              <i class="fas fa-tasks"></i> Doc Proveedor
            </button>
          </div>

          <div class="col">
            <button
              routerLink="/newfabricantesproveedores"
              class="btn btn-outline-primary"
            >
              <i class="fas fa-highlighter"></i>Fabricantes Proveedores
            </button>
          </div>

          <div class="col">
            <button
              routerLink="/newobservaciones"
              class="btn btn-outline-warning"
            >
              <i class="fas fa-envelope-open"></i>Observaciones Proveedor
            </button>
          </div>
        </div>
      </article>
    </div>
    <div class="col-md-12 mb-5">
      <article>
        <h3>
          <span><i class="fas fa-clipboard-check"></i></span>
          Formatos
        </h3>
        <p>
          Operaciones de procesos internos desde el área de mantenimientos de la
          Universidad Santiago de Cali.
        </p>
        <div class="row animated fadeIn">
          <div class="col">
            <button routerLink="/newRMA002" class="btn btn-danger">
              RMA002
            </button>
          </div>

          <div class="col">
            <button routerLink="/newRMA004" class="btn btn-success">
              RMA004
            </button>
          </div>

          <div class="col">
            <button routerLink="/newRMA005" class="btn btn-warning">
              RMA005
            </button>
          </div>

          <div class="col">
            <button routerLink="/newRMA006" class="btn btn-info">RMA006</button>
          </div>
          <div class="col">
            <button routerLink="/newRMA008" class="btn btn-secondary">
              RMA008
            </button>
          </div>

          <div class="col">
            <button routerLink="/newRMA009" class="btn btn-light">
              RMA009
            </button>
          </div>

          <div class="col">
            <button routerLink="/newRMA010" class="btn btn-link">RMA010</button>
          </div>
        </div>
      </article>
    </div>
  </div>
  <!-- <h2>Servicios</h2>
  <ul>
    <li>Actividades de Mantenimiento</li>
    <li>Gestión de equipos</li>
    <li>Informes de Solicitudes</li>
    <li>Proveedores y Fabricantes</li>
  </ul> -->
</div>
