<div class="container">
  <h1>
    RMA005 Cronograma del plan de Calibración/Validación y/o Calificación de
    Equipos
  </h1>

  <div class="row">
    <div class="col text-right">
      <button routerLink="/newRMA005" class="btn btn-outline-danger">
        <i class="fa fa-arrow-left"></i> Regresar
      </button>
    </div>
  </div>

  <form (ngSubmit)="generarSolicitud(f)" #f="ngForm">
    <div class="form-group col-md-6 animated fadeIn">
      <label for="NUM_HOJA_VIDA">Seleccionar hoja de vida</label>
      <select
        id="NUM_HOJA_VIDA"
        class="form-control"
        [(ngModel)]="rma005.NUM_HOJA_VIDA"
        name="NUM_HOJA_VIDA"
      >
        <option
          *ngFor="let item of equipos"
          selected
          value="{{ item.NUM_HOJA_VIDA }}"
        >
          {{ item.NUM_HOJA_VIDA }} - {{ item.Nombre }}
        </option>
      </select>
    </div>

    <div class="form-group col-md-5 animated fadeIn">
      <label>Seleccionar consecutivo orden</label>
      <select
        id="Consecutivo_Orden"
        class="form-control"
        [(ngModel)]="rma005.Consecutivo_Orden"
        name="Consecutivo_Orden"
        required
      >
        <option
          *ngFor="let item1 of cons_orden"
          selected
          value="{{ item1.Consecutivo_Orden }}"
        >
          {{ item1.Consecutivo_Orden }}
        </option>
      </select>
    </div>

    <div class="form-row" animated fadeIn fast>
      <div class="form-group col-md-4 animated fadeIn">
        <label for="txtMarca">Frecuencia de Calibración</label>
        <select
          id="FCIA_VACION_CALIB"
          class="form-control"
          [(ngModel)]="rma005.FCIA_VACION_CALIB"
          name="FCIA_VACION_CALIB"
          required
        >
          <option selected>12 Meses</option>
          <option>3 Meses</option>
          <option>4 Meses</option>
          <option>6 Meses</option>
        </select>
      </div>

      <div class="form-group col-md-4 animated fadeIn">
        <label>Fecha de Ejecución</label>
        <input
          type="date"
          class="form-control"
          id="txtFECHA_EJECUCION"
          placeholder="FECHA_EJECUCION"
          [(ngModel)]="rma005.FECHA_EJECUCION"
          name="FECHA_EJECUCION"
        />
      </div>

      <div class="form-group col-md-4 animated fadeIn">
        <label for="txtMarca">Estado de Ejecución</label>
        <select
          id="ESTADO_EJECUCION"
          class="form-control"
          [(ngModel)]="rma005.ESTADO_EJECUCION"
          name="ESTADO_EJECUCION"
          required
        >
          <option selected>N/P</option>
          <option>CALIBRACIÓNPROGRAMADA</option>
          <option>CALIBRACIÓNEJECUTADO</option>
          <option>VALIDACIÓNPROGRAMADA</option>
          <option>VALIDACIÓNEJECUTADA</option>
          <option>CALIFICACIÓNOPERACIONALPROGRAMADA</option>
          <option>CALIFICACIÓNOPERACIONALEJECUTAD</option>
          <option>REPROGRAMACIÓN</option>
        </select>
      </div>
      <div class="form-group col-md-4 animated fadeIn">
        <label>Observaciones del Equipo</label>
        <input
          type="text"
          class="form-control"
          id="txtOBSERVACIONES_EQUIPO"
          placeholder="Observaciones del Equipo"
          [(ngModel)]="rma005.OBSERVACIONES_EQUIPO"
          name="OBSERVACIONES_EQUIPO"
        />
      </div>
    </div>
    <button type="submit" class="btn btn-primary mb-5 col-md-12">
      Generar RMA005
    </button>
  </form>
</div>
