<div class="container">
  <h1>Información de Mantenimiento de Equipo # {{ infoI.NUM_HOJA_VIDA }}</h1>
  <hr />
  <div class="row">
    <div class="col text-right">
      <button routerLink="/newmantenimiento" class="btn btn-outline-danger">
        <i class="fa fa-arrow-left"></i> Regresar
      </button>
    </div>
  </div>
  <br />
  <div class="card text-center mb-5" *ngFor="let info of infoI">
    <div class="card-header">
      <strong>{{ info.Nombre }} </strong>
    </div>
    <div class="card-body">
      <h4 class="card-title">Datos del Formato</h4>
      <p class="card-text">
        <strong>Hoja de Vida No:</strong>
        {{ info.NUM_HOJA_VIDA }} <br />
        <strong>Mantenimiento Propio:</strong>
        {{ info.Mantenimiento_Propio }} <br />
        <strong>Mantenimiento Contratado:</strong>
        {{ info.Mantenimiento_Contratado }} <br />
        <strong>Por Orden de Compra:</strong>
        {{ info.Por_Orden_Compra }} <br />
        <strong>Requiere Calibración:</strong>
        {{ info.Requiere_Calibracion }} <br />
        <strong>Requiere Calificación Operacional:</strong>
        {{ info.Requiere_Cal_Operacional }} <br />
        <strong>Requiere Validación:</strong>
        {{ info.Requiere_Validacion }} <br />
      </p>
    </div>
  </div>
</div>
