<div class="container">
  <br />
  <h1>RMA007 Solicitud de Servicio de Equipo # {{ formatos.NUM_HOJA_VIDA }}</h1>
  <hr />
  <div class="row">
    <div class="col text-right">
      <button routerLink="/newRMA007" class="btn btn-outline-danger">
        <i class="fa fa-arrow-left"></i> Regresar
      </button>
    </div>
  </div>
  <br />
  <div class="card text-center mb-5" *ngFor="let rma007 of formatos">
    <div class="card-header">
      <strong>{{ rma007.Nombre }} </strong>
    </div>
    <div class="card-body">
      <h4 class="card-title">Identificación del Reporte</h4>
      <p class="card-text">
        <strong>Hoja de Vida No:</strong>
        {{ rma007.NUM_HOJA_VIDA }} <br />
        <strong>Consecutivo Orden:</strong>
        {{ rma007.Consecutivo_Orden }} <br />
        <strong>Fecha de Solicitud deServicio:</strong>
        {{ rma007.Fecha_Solicitud_Servicio }} <br />
        <strong>Hora de Solicitud de Servicio:</strong>
        {{ rma007.Hora_Solicitud_Servicio }} <br />
        <strong>Servicio:</strong>
        {{ rma007.Servicio }} <br />
        <strong>Ubicación:</strong>
        {{ rma007.Ubicacion }} <br />
      </p>
      <h4 class="card-title">
        Identificación del Equipo que Presenta Problemas
      </h4>
      <p class="card-text">
        <strong>Nombre:</strong>
        {{ rma007.Nombre }} <br />

        <strong>Marca:</strong>
        {{ rma007.Marca }} <br />
        <strong>Serial:</strong>
        {{ rma007.Serial }} <br />
        <strong>Modelo:</strong>
        {{ rma007.Modelo }} <br />
        <strong>Activo Fijo:</strong>
        {{ rma007.Activo_Fijo }} <br />
      </p>
      <h4 class="card-title">Reporte del Problema</h4>
      <p class="card-text">
        <strong>Descripción del Problema:</strong>
        {{ rma007.Descripcion_Problema }} <br />
        <strong>Nombre Responsable:</strong>
        {{ rma007.Nombre_Responsable }} <br />
        <strong>Cargo Responsable:</strong>
        {{ rma007.Cargo_Responsable }} <br />
      </p>
    </div>
  </div>
</div>
