<div class="container">
  <h1>Guardar Reactivos y Accesorios del Equipo.</h1>

  <div class="row">
    <div class="col text-right">
      <button routerLink="/newreactivos" class="btn btn-outline-danger">
        <i class="fa fa-arrow-left"></i> Regresar
      </button>
    </div>
  </div>

  <form (ngSubmit)="guardarInfo(f)" #f="ngForm">
    <div class="form-group col-md-6 animated fadeIn">
      <label for="NUM_HOJA_VIDA">Seleccionar hoja de vida</label>
      <select
        id="NUM_HOJA_VIDA"
        class="form-control"
        [(ngModel)]="newReactivos.NUM_HOJA_VIDA"
        name="NUM_HOJA_VIDA"
        required
      >
        <option
          *ngFor="let item of equipos"
          selected
          value="{{ item.NUM_HOJA_VIDA }}"
        >
          {{ item.NUM_HOJA_VIDA }} - {{ item.Nombre }}
        </option>
      </select>
    </div>
    <div class="form-row" animated fadeIn fast>
      <div class="form-group col-md-6 animated fadeIn">
        <label>Listado de Reactivos</label>
        <select
          id="LISTADO_REACTIVOS"
          class="form-control"
          [(ngModel)]="newReactivos.LISTADO_REACTIVOS"
          name="LISTADO_REACTIVOS"
          required
        >
          <option selected>Sólidos</option>
          <option>Liquidos</option>
          <option>Disolución Preparada</option>
          <option>N/P</option>
        </select>
      </div>

      <div class="form-group col-md-4 animated fadeIn">
        <label>Accesorio 1</label>
        <input
          type="text"
          class="form-control"
          id="txtACCESORIO_1"
          placeholder="ACCESORIO 1"
          [(ngModel)]="newReactivos.ACCESORIO_1"
          name="ACCESORIO_1"
        />
      </div>

      <div class="form-group col-md-4 animated fadeIn">
        <!--                 <label for="txtSeral">Serial</label>
 -->
        <input
          type="text"
          class="form-control"
          id="txtMARCA_LICENCIA_ACCESORIO_1"
          placeholder="MARCA LICENCIA ACCESORIO_1"
          [(ngModel)]="newReactivos.MARCA_LICENCIA_ACCESORIO_1"
          name="MARCA_LICENCIA_ACCESORIO_1"
        />
      </div>
      <div class="form-group col-md-4 animated fadeIn">
        <!--                 <label for="txtActivo">Activo Fijo</label>
 -->
        <input
          type="text"
          class="form-control"
          id="txtMODELO_VERSION_ACCESORIO_1"
          placeholder="MODELO VERSIÓN ACCESORIO_1"
          [(ngModel)]="newReactivos.MODELO_VERSION_ACCESORIO_1"
          name="MODELO_VERSION_ACCESORIO_1"
        />
      </div>
      <div class="form-group col-md-4 animated fadeIn">
        <!--                 <label for="txtArea">Area</label>
 -->
        <input
          type="text"
          class="form-control"
          id="txtSERIE_ACCESORIO_1"
          placeholder="SERIE ACCESORIO 1"
          [(ngModel)]="newReactivos.SERIE_ACCESORIO_1"
          name="SERIE_ACCESORIO_1"
        />
      </div>
      <div class="form-group col-md-4 animated fadeIn">
        <!--                 <label for="txtMarca">Marca</label>
 -->
        <input
          type="text"
          class="form-control"
          id="txtACCESORIO_2"
          placeholder="ACCESORIO 2"
          [(ngModel)]="newReactivos.ACCESORIO_2"
          name="ACCESORIO_2"
        />
      </div>

      <div class="form-group col-md-4 animated fadeIn">
        <!--                 <label for="txtSeral">Serial</label>
 -->
        <input
          type="text"
          class="form-control"
          id="txtMARCA_LICENCIA_ACCESORIO_2"
          placeholder="MARCA LICENCIA ACCESORIO 2"
          [(ngModel)]="newReactivos.MARCA_LICENCIA_ACCESORIO_2"
          name="MARCA_LICENCIA_ACCESORIO_2"
        />
      </div>
      <div class="form-group col-md-4 animated fadeIn">
        <!--                 <label for="txtActivo">Activo Fijo</label>
 -->
        <input
          type="text"
          class="form-control"
          id="txtMODELO_VERSION_ACCESORIO_2"
          placeholder="MODELO VERSIÓN ACCESORIO_2"
          [(ngModel)]="newReactivos.MODELO_VERSION_ACCESORIO_2"
          name="MODELO_VERSION_ACCESORIO_2"
        />
      </div>
      <div class="form-group col-md-4 animated fadeIn">
        <!--                 <label for="txtArea">Area</label>
 -->
        <input
          type="text"
          class="form-control"
          id="txtSERIE_ACCESORIO_2"
          placeholder="SERIE ACCESORIO 2"
          [(ngModel)]="newReactivos.SERIE_ACCESORIO_2"
          name="SERIE_ACCESORIO_2"
        />
      </div>
      <div class="form-group col-md-4 animated fadeIn">
        <!--                 <label for="txtMarca">Marca</label>
 -->
        <input
          type="text"
          class="form-control"
          id="txtACCESORIO_3"
          placeholder="ACCESORIO 3"
          [(ngModel)]="newReactivos.ACCESORIO_3"
          name="ACCESORIO_3"
        />
      </div>

      <div class="form-group col-md-4 animated fadeIn">
        <!--                 <label for="txtSeral">Serial</label>
 -->
        <input
          type="text"
          class="form-control"
          id="txtMARCA_LICENCIA_ACCESORIO_3"
          placeholder="MARCA LICENCIA ACCESORIO_3"
          [(ngModel)]="newReactivos.MARCA_LICENCIA_ACCESORIO_3"
          name="MARCA_LICENCIA_ACCESORIO_3"
        />
      </div>
      <div class="form-group col-md-4 animated fadeIn">
        <!--                 <label for="txtActivo">Activo Fijo</label>
 -->
        <input
          type="text"
          class="form-control"
          id="txtMODELO_VERSION_ACCESORIO_3"
          placeholder="MODELO VERSIÓN ACCESORIO_3"
          [(ngModel)]="newReactivos.MODELO_VERSION_ACCESORIO_3"
          name="MODELO_VERSION_ACCESORIO_3"
        />
      </div>
      <div class="form-group col-md-4 animated fadeIn">
        <!--                 <label for="txtArea">Area</label>
 -->
        <input
          type="text"
          class="form-control"
          id="txtSERIE_ACCESORIO_3"
          placeholder="SERIE ACCESORIO 3"
          [(ngModel)]="newReactivos.SERIE_ACCESORIO_3"
          name="SERIE_ACCESORIO_3"
        />
      </div>
    </div>
    <button type="submit" class="btn btn-primary mb-5 col-md-12">
      Guardar Reactivos y Accesorios del Equipo
    </button>
  </form>
</div>
